@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: hsl(260, 100%, 95%);
    font-size: 13px;
    font-family: "Barlow Semi Condensed";
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
    background-color: hsl(0, 0%, 81%);
    width: 1100px;
    margin: 0 auto;
    
}
img{
    height: 30px;
    width: 30px;
    border-radius: 50%;    
}
.cont-1{
background-color: hsl(263, 55%, 52%);
border-radius: 5px;
padding: 25px;
grid-column: 1 / span 2;


}
.review-title{
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color:hsl(0, 0%, 100%);
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.user-info .name{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.user-info .status{
    color: hsl(214, 17%, 92%);
    font-size: 12px;
}
.review-desc{
    color: hsl(214, 17%, 92%);
    line-height: 20px;
}
.cont-2{
    background-color: hsl(217, 19%, 35%);
    border-radius: 5px;
    padding: 25px;
    grid-column: 3;
    grid-row: 1;
    
}

.cont-2>.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.cont-2 .user-info .name{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.cont-2 .user-info .status{
    color: hsl(214, 17%, 92%);
    font-size: 12px;
}
.cont-2>.review-desc{
    color:hsl(214, 17%, 92%);
    line-height: 20px;
}
.cont-2>.review-title{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 500;
    color:hsl(0, 0%, 100%);
}
.cont-3{
    grid-row: 2;
    background-color:hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 25px;
     
}
.cont-3>.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.cont-3 .user-info .name{
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}
.cont-3 .user-info .status{
    color: hsl(224, 10%, 45%);
    font-size: 12px;
}

.cont-3>.review-desc{
    color:hsl(224, 10%, 45%);
    line-height: 20px;
}
.cont-3>.review-title{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 500;
    color:hsl(219, 29%, 14%);
}
.cont-4{
    grid-column: 2/ span 2;
    background-color:hsl(219, 29%, 14%);
    border-radius: 5px;
    padding: 25px;

    
}
.cont-4>.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.cont-4 .user-info .name{
    color: hsl(214, 17%, 92%);
    font-weight: 600;
}
.cont-4 .user-info .status{
    color: hsl(0, 0%, 81%);
    font-size: 12px;
}
.cont-4>.review-title{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color:hsl(214, 17%, 92%);
}
.cont-4>.review-desc{
    color:hsl(0, 0%, 81%);
    line-height: 20px;
    
}
.cont-5{
    grid-column: 4;
    grid-row: 1 / span 2;
    background-color:hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 25px;
    
}
.cont-5>.user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.cont-5 .user-info .name{
    color: hsl(219, 29%, 14%);
    font-weight: 600;
}
.cont-5 .user-info .status{
    color: hsl(224, 10%, 45%);
    font-size: 12px;
}
.cont-5>.review-title{
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color:hsl(219, 29%, 14%);
}
.cont-5>.review-desc{
    color:hsl(224, 10%, 45%);
    line-height: 20px;
}